body{
    background-color:
    margin: 0;
    padding: 0;

}

a{
    color: #fff;
    text-decoration-line: underline;
}

#alv {
    margin: 0;
    padding: 0;
    background-image: url(imagenes/2.jpg);
    height: 500px; /* Aqui le especificamos el alto de la imagen */
    background-position: center; /* Aqui para centrar la imagen */
    background-repeat: no-repeat; /* Y esto se utiliza para no que la imagen no ser repeta */
    background-size: cover;/* Se rescala la imagen de fondo para cubrir todo el contenedor */
    color: #fff;
}

#alv nav h1 {
    font-size: 3em;
    padding-top: 140px;
    font-family: 'Passion One', cursive;
}

.botonF{
    background-image: url(imagenes/3.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover; 
    border: 1px solid #fff;
    border-radius:100%;
    color: rgb(255, 255,255);
    display: block;
    height: 4em;
    text-indent: 4em;
    overflow: hidden;
    white-space: nowrap;
    width: 4em;
    margin: 0 auto 2em auto; 
}


#alv nav{
    color: white;
    text-align-last: center;
}

.articulos{
    padding:3em  0 0 0;
}

#cajas {
    background-color: #42424f;
    width:450px;
    height:auto;
    border-radius:0.5em; 

}

#cajas h3{
    text-align: center;
    
}

#cajas p{
    text-align: center
}

img{
    width: 100%;
    margin:auto;
    border-radius:0.5em 0.5em 0 0; 
    
}

#btn1{
    width: 320px;
    height: 40px;
    margin:15px 25px 10px 60px;
    text-align: center;
    border-radius: 0.5em;
    border-bottom-color: aqua;
    color:white;
    background-color: aqua;
}

footer{
    color: brown;
}

