body{
    background-color:#202024;
    margin: 0;
    padding: 0;

}

a{
    color: #fff;
    text-decoration-line: underline;
}

#alv {
    margin: 0;
    padding: 0;
    background-image: url(imagenes/11.gif);
    height: 500px; /* Aqui le especificamos el alto de la imagen */
    background-position: center; /* Aqui para centrar la imagen */
    background-repeat: no-repeat; /* Y esto se utiliza para no que la imagen no ser repeta */
    background-size: cover;/* Se rescala la imagen de fondo para cubrir todo el contenedor */
    color: #fff;
}

#alv nav h1 {
    font-size: 3em;
    padding-top: 140px;
    font-family: 'Passion One', cursive;
}

.botonF{
    background-image: url(imagenes/3.png);
    
background-position:center;
    background-repeat: no-repeat;
    background-size:cover; 
    border: 1px solid #fff;
    border-radius:100%;
    color: rgb(255, 255,255);
    display: block;
    height: 4em;
    text-indent: 4em;
    overflow: hidden;
    white-space: nowrap;
    width: 4em;
    margin: 0 auto 2em auto; 
}


#alv nav{
    color: white;
    text-align-last: center;
}

.articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding:3em  0 0 0;
}

#cajas {
    background-color: #2c2c32;
    width:350px;
    height:500px;
    border-radius:0.25em;
    margin: 1em;
}

#cajas h3{
    text-align: center;
    color: #ffffffff;
    font-weight: bold;
    
}

#cajas p{
    text-align: center;
    font-weight: 100;
    color: #b9b9bb;
    
}

img{
    width: 100%;
    border-radius:0.25em 0.25em 0 0; 
}

#btn1{
    width: 290px;
    height: 40px;
    margin:15px 25px 10px 25px;
    text-align: center;
    border-radius: 0.5em;
    border-bottom-color: aqua;
    color:white;
    background-color: #82cec6;
    border:none;
}

#btn6{
    width: 290px;
    height: 40px;
    margin:15px 25px 10px 25px;
    text-align: center;
    border-radius: 0.5em;
    border-bottom-color: aqua;
    color:white;
    background-color: #82cec6;
    border: none;
}

#btn2{
    width: 290px;
    height: 40px;
    margin:15px 25px 10px 25px;
    text-align: center;
    border-radius: 0.5em;
    border-bottom-color: #9d7ed0;
    color:white;
    background-color: #9d7ed0;
    border:none;
}

#btn4{
    width: 290px;
    height: 40px;
    margin:15px 25px 10px 25px;
    text-align: center;
    border-radius: 0.5em;
    border-bottom-color: #9d7ed0;
    color:white;
    background-color: #9d7ed0;
    border:none;
}

#btn3{
    width: 290px;
    height: 40px;
    margin:15px 25px 10px 25px;
    text-align: center;
    border-radius: 0.5em;
    border-bottom-color: #70c7be;
    color:white;
    background-color: #7f92cf;
    border:none;
}

#btn5{
    width: 290px;
    height: 40px;
    margin:15px 25px 10px 25px;
    text-align: center;
    border-radius: 0.5em;
    border-bottom-color: #70c7be;
    color:white;
    background-color: #7f92cf;
    border:none;
}

footer{
    color:white;
    background-color:#1b1b1f;
    text-align: center;
}
ul{
    display: flex;
    justify-content: center;
    align-content: center;

}

li{
    list-style-type: none;
    padding: 1em;
    border-radius:5em solid; 
}

i{
    border: 2px solid whitesmoke;
    border-radius:100%;
    color: rgb(255, 255,255);
    display: block;
    height: 2.1em;
    width: 2.8em;
    white-space: nowrap;
    padding-top: 1em;
    margin: 0 auto 2em auto; 
}
i:hover{
    border-color: rgb(207, 203, 203); 
    background-color: rgb(207, 203, 203);
}

.botonF:hover{
    border-color: rgb(207, 203, 203); 
    background-color: rgb(207, 203, 203);
}
 #btn1:hover{
    border-color: rgb(207, 203, 203); 
    background-color: rgb(207, 203, 203);
 }

 #btn2:hover{
    border-color: rgb(207, 203, 203); 
    background-color: rgb(207, 203, 203);
 }
 #btn3:hover{
    border-color: rgb(207, 203, 203); 
    background-color: rgb(207, 203, 203);
 }
 #btn4:hover{
    border-color: rgb(207, 203, 203); 
    background-color: rgb(207, 203, 203);
 }
 #btn5:hover{
    border-color: rgb(207, 203, 203); 
    background-color: rgb(207, 203, 203);
 }
 #btn6:hover{
    border-color: rgb(207, 203, 203); 
    background-color: rgb(207, 203, 203);
 }

